/**
 * Answer
 */
#answers {
    margin-top: @magicNumber;
}

#answers #answer-counter {
    border-bottom: 1px solid #e4e6e8;
    display: block;
}

#answers .answer {
    margin-top: @magicNumber;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: @magicNumber;
}

#answers table {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%
}

#answers .vote-cell {
    padding-right: 15px;
    vertical-align: top;
    width: 2%;
}

#answers .vote {
    min-width: 46px;
    text-align: center;
}

#answers .vote > p {
    margin-bottom: @magicNumber/2;
}

#answers i,
#answers .score {
    color: #6a737c;
}

#answers .score {
    margin: 8px 0;
}

#answers .content-cell {
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: @magicNumber/2;
    vertical-align: top;
}

#answers .content-text {
    margin-bottom: 5px;
}

#answers .answer-tags {
    clear: both;
    margin-bottom: 10px;
}

#answers .post-tag {
    background-color: #396a2f;
    color: #fff;
    font-size: @fontSizeSmall;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 0.3em 0.4em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#answers .answer-requester {
    margin-bottom: 5px;
    width: 100%;
}

#answers .post-menu {
    vertical-align: top;
}

#answers .post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

#answers .user-details {
    float: left;
    margin-left: 8px;
}

#answers .menu {
    padding-top: 2px;
}

#answers .user-info {
    clear: both;
}

#answers .request-time {
    margin-bottom: 4px;
    margin-top: 1px;
    white-space: nowrap;
}

#answers .time {
    color: #396a2f;
    font-size: @fontSizeSmall;
}

#answers .user-gravatar {
    border-radius: 1px;
    float: left;
}

#answers .author {
    color: #396a2f;
    font-size: @fontSizeSmall;
}

#answers .comment-cell {
    padding-top: @magicNumber/2;
    padding-left: 15px;
    vertical-align: top;
}

#answers .comment,
#answers .edit {
    color: #848d95;
    font-size: @fontSizeSmall;
    text-decoration: none;
}

#answers .comment:hover,
#answers .edit:hover {
    color: #f5a06e;
}
