.comment-wrapper {
    border: 1px solid #eee;
    margin-bottom: 10px;
    overflow: auto;
}

.left-aside {
    float: left;
    text-align: center;
    width: 7%;
}

.left-aside img {
    margin-top: 10px;
}

.main-comment {
    float: left;
    width: 92%;
}

.comment-heading {
    background: #396a2f;
    background: linear-gradient(#396a2f, #55a046);
    margin-bottom: 10px;
    overflow: auto;
}

.comment-heading h3 {
    color: #fff;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 4px 0;
}

.create-comment {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.create-comment a {
    color: #fff;
    font-size: @fontSizeSmall;

}

.heading {
    overflow: auto;
    padding: .4em;
}

.author {
    color: #396a2f;
    font-size: @fontSizeSmall;
}

.content {
    padding: .4em;
}

.content p {
    margin: 0;
    padding: 0;
}

.time {
    color: #999;
    font-size: @fontSizeSmall;
}

.mail,
.edit-comment {
    color: #999;
    float: right;
}

.web,
.delete-comment {
    color: #999;
    float: right;
    margin-left: 10px;
}

.mail a,
.web a {
    color: #999;
}

.mail a:hover,
.web a:hover {
    color: #f5a06e;
}

.admin-field {
    border-top: 1px dashed #ddd;
    padding: .4em;
}
