.triptych-heading {
    background: rgba(0, 0, 0, 0) linear-gradient(#396a2f, #55a046) repeat scroll 0 0;
    margin-bottom: 10px;
}

.triptych-heading h3 {
    color: #fff;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 4px 0;
}
